<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Users</h1>
<a href="/users/new">Create New User</a>
<ul>
    <% users.forEach(user => { %>
        <li>
            <strong><%= user.firstName %> <%= user.lastName %></strong> - <%= user.email %>
            <a href="/users/edit/<%= user._id %>">Edit</a>
            <form action="/users/delete/<%= user._id %>" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
    <% }) %>
</ul>
</body>
</html>